
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}
body{
    display:flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
   
}
body::before{
    content:'';
    position: absolute;
    height:100%;
    width:100%;
    background: url(login-hero-bg.jpg); 
    background-size:cover ;
background-position: center;  
   
}
.login-box{
    width:450px ;
    padding: 30px;
    border:1px solid rgba(255,255,255,0.5);
backdrop-filter: blur(8px);
-webkit-backdrop-filter:blur(8px);
border-radius: 10px;
display: flex;
text-align: center;
display: flex;
justify-content: center;
}
form{
    display: flex;
   
    flex-direction: column;

}
form h2{
    font-size: 2rem ;
    color: #fff;
     margin-bottom: 20px;

}
.inputfield input{
    background: transparent;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
   color:#FFF;
   font-size:1rem;

}
.inputfield{
    position: relative;
    border-bottom: 2px solid #ccc;
}
.inputfieldlabel{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
      pointer-events: none;
    transition: 0.3s ease;
    pointer-events: none;
    transition: 0.3 ease;
}
.inputfield input:focus~label,
.inputfield input:valid~label{
    transform: translateY(120%);
    font-size:0.8rem;
    top:10px
   
}

   .password-options{
    display: flex;
    align-items: center;
    justify-content: space-between;     
    margin: 25px 0 35px 0;
    color: #FFF;
    gap: 40px;              
    flex-wrap: wrap;
}

.password-options label{
    display: flex;
align-items: center;
}
.password-options label p{
    margin-left:8px;
}
.login-box a{
    color: #efefef;
    text-decoration: none;
}
.login-box a:hover{
    text-decoration: underline;
}
.button{
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight:600;
    padding:12px 20px; ;
 transition:0.3s ease;
    cursor: pointer; 
    border-radius:3px;
    border:2px solid transparent;
}
button:hover{
    background: rgba(255,255,255,0.15);
    color:#fff;
    border-color:#fff
}
.account-options{
    text-align:center;
    margin-top:30px;
    color:#fff;

}